name: Windows Release Build

on:
  push:
    branches: [main]
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - name: Install Skia
        shell: bash
        run: |
          this_dir=$(cygpath "${{ github.workspace }}")
          skia_url=$(source $this_dir/laf/misc/skia-url.sh | xargs)
          skia_file=$(basename $skia_url)
          curl --ssl-revoke-best-effort -L -o "$skia_file" "$skia_url"
          unzip "$skia_file" -d skia
      
      - name: Install Ninja
        uses: aseprite/get-ninja@main
      
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
      
      - name: Generate Makefiles
        shell: bash
        run: |
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DENABLE_TESTS=ON \
            -DENABLE_SCRIPTING=ON \
            -DENABLE_CCACHE=OFF \
            -DLAF_BACKEND=skia \
            -DSKIA_DIR=$(realpath skia) \
            -DSKIA_LIBRARY_DIR=$(realpath skia/out/Release-x64)
      
      - name: Build
        shell: bash
        run: |
          cd build && ninja
      
      - name: Run C++ Tests
        shell: bash
        run: |
          cd build && ctest --output-on-failure
      
      - name: Run CLI Tests
        shell: bash
        run: |
          export ASEPRITE=$PWD/build/bin/aseprite
          cd tests
          bash run-tests.sh
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aseprite-windows-release
          path: build/bin/aseprite.exe
          retention-days: 90
